#viin_sport_clubs .oe_kanban_global_click{
    text-align: center;
}
#viin_sport_clubs .o_kanban_image{
    float: none;
    margin: auto;
}
#viin_sport_clubs .o_kanban_record .o_kanban_image + div{
    padding: none;
}